:root {
    --primary: #3490dc;    /* Replace with your desired primary color */
    --secondary: #ffed4a;  /* Example for secondary color */
    --success: #38c172;    /* Success button color */
    --info: #6cb2eb;
    --warning: #ffed4a;
    --danger: #e3342f;
}
